@font-face {
  font-family: "Norse";
  src:
    url("../assets/fonts/transfonter.org-20260315-033134/Norse-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/transfonter.org-20260315-033134/Norse-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --btn-color: #596d48;
  --invalid-input-border: #ba311d;
  --padding-left: 2.5rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: url(/assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

aside > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 205px;
  width: 100%;
  background-color: rgb(14, 14, 14, 0.4);
  font-family: "Norse", sans-serif;
  font-size: 6rem;
}

aside > p {
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

aside > p a {
  color: white;
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.top-section {
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: var(--padding-left);
  padding-bottom: 3rem;
}

.top-section p {
  width: 55ch;
}

.form-section {
  padding: 1rem 25rem 1rem var(--padding-left);
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 15px 10px -10px;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset legend {
  font-size: 1.4rem;
  font-weight: bold;
}

fieldset ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 1rem 0;
  letter-spacing: 0.09rem;
  list-style: none;
}

fieldset label {
  display: block;
  font-size: 0.7rem;
}

input {
  min-width: 250px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
}

input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 4px;
}

input[type="password"]:invalid {
  border: 1px solid var(--invalid-input-border);
}

.bottom-section {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: var(--padding-left);
}

.bottom-section button {
  color: #fff;
  background-color: var(--btn-color);
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.bottom-section p {
  margin-top: 2rem;
}

.bottom-section p a {
  text-decoration: none;
  color: var(--btn-color);
}

@media screen and (max-width: 1024px) {
  aside {
    display: none;
  }
}
