@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/transfonter.org-20260315-033134/Norse-Bold.woff2') format('woff2'),
        url('../assets/fonts/transfonter.org-20260315-033134/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --btn-color: #596D48;
  --input-border: #E5E7EB;
  --padding-left: 28px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

aside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  flex-basis: 35%;
  background-image: url(/assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

aside > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 205px;
  width: 100%;
  background-color: rgb(14, 14, 14, .4);
  font-family: "Norse", sans-serif;
  font-size: 6rem;
}

aside > p {
  font-family: sans-serif;
  font-size: .9rem;
  margin-bottom: 10px;
}

aside > p a {
  color: white;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.top-section {
  width: 100%;
  height: 216px;
  background-color: #f9fafb;
  font-weight: bold;
}

.top-section p {
  padding: 102px 0 36px 30px;
  padding-left: var(--padding-left);
  width: 55ch;
  font-size: .9rem;
  letter-spacing: -.5px;
}

.form-section {
  position: relative;
  width: 100%;
  height: 177px;
  background-color: #fff;
  padding-left: var(--padding-left);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.form-section > span {
  display: block;
  padding-top: 15px;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 20px;
}

fieldset {
  font-size: 0.6rem;
  letter-spacing: 0.09rem;
  padding: 0;
  display: flex;
  gap: 42px;
  border: none;
  margin-bottom: 15px;
}

fieldset:last-child {
  margin-bottom: 23px;
}

fieldset label {
  display: block;
  font-size: .4rem;
  font-weight: bold;
}

input {
  border: solid 1px var(--input-border);
  border-radius: 2px;
  padding: 2px;
  padding-left: 5px;
}

input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 4px;
}

div.error-message > span {
  display: block;
  color: #ce6161;
  font-size: .3rem;
  letter-spacing: 0;
  font-weight: bold;
}

.hidden {
  display: none;
}

.bottom-section {
  width: 100%;
  background-color: #f9fafb;
  flex: 1;
  padding-left: var(--padding-left);
  font-weight: bold;
}

input[type='button'] {
  width: 137px;
  height: 30px;
  background-color: var(--btn-color);
  font-size: .7rem;
  margin-top: 20px;
  border-radius: 5px;
  border-color: var(--btn-color);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

input[type='button']::placeholder {
  color: white;
}

.button {
  position: relative;
}

.button > span {
  color: white;
  position: absolute;
  font-size: .6rem;
  left: 30px;
  bottom: 13px;
}
.bottom-section > span {
  display: block;
  font-size: .6rem;
  margin-top: 20px;
}

.bottom-section > span > a {
  color: var(--btn-color);
  cursor: pointer;
}